.checkbox-wrapper[data-v-vvt-checkbox] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  line-height: 1;
  font-size: 14px;
  user-select: none;
  margin-right: 8px;
}

.checkbox-wrapper .checkbox[data-v-vvt-checkbox] {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0;
  vertical-align: middle;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  background-color: #fff;
  transition: border-color .25s cubic-bezier(.71,-.46,.2,1.46),
              background-color .25s cubic-bezier(.71,-.46,.2,1.46);
  cursor: pointer;
  outline: none;

  &:checked {
    background-color: #409eff;
    border-color: #409eff;

    &::after {
      box-sizing: content-box;
      content: "";
      border: 1px solid #fff;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg);
      width: 3px;
    }
  }

  &:indeterminate {
    background-color: #409eff;
    border-color: #409eff;

    &::after {
      content: '';
      position: absolute;
      display: block;
      background-color: #fff;
      height: 2px;
      transform: scale(0.5);
      left: 0;
      right: 0;
      top: 5px;
    }
  }

  &:disabled {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    cursor: not-allowed;

    &:checked {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
    }

    &:indeterminate {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
    }
  }
}
